<% content_for :page_title do %>
  <%= Spree.t(:events_tracker_settings) %>
<% end %>

<%= form_tag admin_events_tracker_setting_path, method: :patch do %>
  <div id="preferences" data-hook>
    <fieldset class="general no-border-top">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="form-group" data-hook="admin_events_tracker_archive_data">
            <%= label_tag :events_tracker_archive_data, Spree.t(:events_tracker_archive_data), class: 'h3' %>
            <%= check_box_tag :events_tracker_archive_data, true, Spree::Config.events_tracker_archive_data, { class: 'form-control' } %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'save' %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), edit_admin_events_tracker_setting_url, icon: 'delete' %>
  </div>
<% end %>
