<%= form_tag admin_events_tracker_setting_path, method: :patch do %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            <%= Spree.t(:events_tracker_settings) %>
          </h1>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <%= label_tag :events_tracker_archive_data do %>
              <%= check_box_tag :events_tracker_archive_data, true, Spree::Config.events_tracker_archive_data %>
              <%= Spree.t(:events_tracker_archive_data) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'save' %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), edit_admin_events_tracker_setting_url, icon: 'delete' %>
  </div>
<% end %>
